---
import Layout from '../layouts/Layout.astro'
import Header from '../components/generic/Header.astro';
import Footer from '../components/generic/Footer.vue';
---

<Layout title="Account">
  <Header /> 
  <main class="m-12 items-center justify-center">   
    <h2 class="text-2xl font-bold mb-6">Account</h2>
  </main>
  <Footer />
</Layout>