---
import Layout from '../layouts/Layout.astro'
import Header from '../components/generic/Header.astro';
---

<Layout title="Account">
  <Header /> 
  <main class="w-2/4 m-12 items-center justify-center">   
    <h2 class="text-2xl font-bold mb-6">Account</h2>
  </main>
</Layout>