---
import Header from "../components/generic/Header.astro";
import Results from "../components/Results.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <Header />
    <main class="m-12 items-center justify-center">
      <Results client:idle/>
    </main>
  </Layout>