---
let query
let handleSubmit
---
<!-- <script lang="ts">
  import { Event } from 'dom'
  export let query: string
  export let handleSubmit: (e: Event) => void
</script> -->

<div>
  <form action={handleSubmit}>
    <input
      value={query}
      type="search"
      placeholder="Search for a movie"
      class="w-full px-4 py-2 rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium"
    />
  </form>
</div>
